#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "app.manifest"

IDD_MAIN DIALOGEX 0, 0, 520, 310
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_THICKFRAME
CAPTION "WinMemPress"
FONT 9, "Segoe UI"
BEGIN
    CONTROL         "", IDC_APP_LIST, "SysListView32",
                    WS_TABSTOP | WS_VISIBLE | WS_CHILD | LVS_REPORT | LVS_SINGLESEL,
                    8, 8, 504, 260
    DEFPUSHBUTTON   "End Task", IDC_END_TASK, 422, 278, 90, 24
END
